.game {
    position: relative;
    width: auto;
    height: 100%;
}

.container {
    position: relative;
    display: inline-block;
}

.dice {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: transform 2s;
}

.diceImg {
    width: 100%;
    height: 100%;
}

.dice .dice-two {
    position: relative;
    right: -50px;
}

.dice-one {
    position: relative;
    left: -50px;
}

.side {
    position: absolute;
    left: 0;
    background-color: #ffF;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 2em;
}

.side:nth-child(1) {
    transform: translateZ(3.1em);
}

.side:nth-child(6) {
    transform: rotateY(90deg) translateZ(3.1em);
}

.side:nth-child(3) {
    transform: rotateY(-90deg) translateZ(3.1em);
}

.side:nth-child(4) {
    transform: rotateX(90deg) translateZ(3.1em);
}

.side:nth-child(5) {
    transform: rotateX(-90deg) translateZ(3.1em);
}

.side:nth-child(2) {
    transform: rotateY(-180deg) translateZ(3.1em);
}

.show-1 {
    transform: rotateX(720deg) rotateZ(-720deg);
}

.show-6 {
    transform: rotateX(450deg) rotateZ(-720deg);
}

.show-3 {
    transform: rotateY(810deg) rotateZ(720deg);
}

.show-4 {
    transform: rotateX(-810deg) rotateZ(-1080deg);
}

.show-5 {
    transform: rotateY(-450deg) rotateZ(-1440deg);
}

.show-2 {
    transform: rotateX(-900deg) rotateZ(1080deg);
}